.investment-card {
  margin-bottom: 1rem;

  &.xxl {
    width: 30%;
  }

  &.xl, &.lg {
    width: 45%;
  }

  &.md, &.sm {
    width: 90%;
  }

  .title {
    overflow: auto;
  }

  &.xs {
    width: 100%;

    .price {
      display: flex;
      flex-direction: column;
    }
  }

  .spinner {
    margin-top: 1rem;
  }

  .error-msg {
    color: red;
  }

  .ant-card-head-title {
    text-align: left;
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    >div:not(.spinner) {
      width: 100%;
    }
  }

  p {
    margin: 0;

    &.up {
      color: green;
      font-weight: bold;
    }

    &.down {
      color: red;
      font-weight: bold;
    }

    >.icon {
      margin-right: 0.5rem;
    }
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >h3 {
      margin: 0;
    }
  }
}