.InvestmentCard {
  margin-bottom: 1rem;

  &.xxl {
    width: 30%;
  }

  &.xl, &.lg {
    width: 45%;
  }

  &.md, &.sm {
    width: 90%;
  }

  .Title {
    overflow: auto;
  }

  &.xs {
    width: 100%;
    .Price {
      display: flex;
      flex-direction: column;
    }
  }

  .Spinner {
    margin-top: 1rem;
  }

  .ErrorMsg {
    color: red;
  }

  .ant-card-head-title {
    text-align: left;
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    >div:not(.Spinner) {
      width: 100%;
    }
  }

  p {
    margin: 0;
    &.up {
      color: green;
      font-weight: bold;
    }
    &.down {
      color: red;
      font-weight: bold;
    }

    >.Icon {
      margin-right: 0.5rem;
    }
  }

  .Time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >h3 {
      margin: 0;
    }
  }
}