@mixin PageRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: 95%;

  &.XXL {
    width: 60%;
  }
  &.XL {
    width: 70%
  }
  &.LG {
    width: 80%
  }
}