@import "../../../styles/page";

.Recognition {
  @include page-root;

  text-align: center;

  .Source {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    height: auto;
    text-align: center;

    &.xxl {
      width: 30%;
    }

    &.xl, &.lg {
      width: 40%;
    }

    &.md {
      width: 50%;
    }

    &.sm {
      width: 60%;
    }

    &.xs {
      width: 70%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}