.AddToWatchlistModal {
  .ErrorMsg {
    color: red;
  }

  .ant-radio-group {
    width: 100%;
    .ant-space {
      width: 100%;
      .ant-radio-wrapper {
        width: 100%;
        >span:not(.ant-radio) {
          width: 100%;
        }
      }
    }
  }
}