.WatchlistPanel {
  &.ant-collapse-item {
    >.ant-collapse-header {
      align-items: center;
      h4 {
        margin: 0;
      }
    }
  }
  .PanelTitleForm {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .ant-form-item {
      margin: 0;
      width: 100%;
      input.ant-input {
        font-size: 20px;
      }
    }
  }
}