.WatchlistPanel {
  &.ant-collapse-item {
    >.ant-collapse-header {
      align-items: center;
      h4 {
        margin: 0;
        overflow: auto;
      }
    }
  }
  .PanelTitleForm {
    width: 90%;
    display: flex;
    &:not(.xs) {
      flex-direction: row;
      align-items: center;
    }
    &.xs {
      flex-direction: column;
    }

    .TitleFormActions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .ant-form-item {
      margin: 0;
      width: 100%;
      input.ant-input {
        font-size: 20px;
      }
    }
  }
}