.MarketCard {
  width: 20%;

  p {
    margin: 0;
    &.up {
      color: green;
      font-weight: bold;
    }
    &.down {
      color: red;
      font-weight: bold;
    }

    >.Icon {
      margin-right: 0.5rem;
    }
  }

  .Time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >h3 {
      margin: 0;
    }
  }
}