@import "../../../styles/page";

.GlobalMarkets {
  @include PageRoot;

  .MarketSection {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .MarketCard {
      width: 100%;
    }
  }
}