@import "../../../styles/card_list";

.market-section {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .market-card-list {
    @include card-list;
  }
}