.portfolios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
  }
}