.Portfolios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}